modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "openssh_hpn"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33907
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 34457
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 34793
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 34901
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 37911
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 39667
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 40307
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 40903
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 42655
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 43389
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 44255
externalPort = 5173
exposeLocalhost = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[objectStorage]
defaultBucketID = "replit-objstore-81735706-e4e5-4048-bdd5-ee403c3ee9a2"
